@import "tailwindcss";

:root {
  --graybg: #d1d5db;
  --primary: #e67e22;
  --available: #7eb942;
}

@theme inline {
  --color-graybg: var(--graybg);
  --color-primary: var(--primary);
  --color-available: var(--available);
}
